﻿#backFormChangePass, #backFormManage {
    margin-top: 15px;
    background: RGB(11,57,84) !important;
    height: 100% !important;
    width: 100% !important;
}
#changing, #manageIndex {
    margin-top: 2%;
    margin-bottom: 30px;
}
#changeOldPassDiv, #changeNewPassDiv, #changeConfirmPassDiv{
    margin-top: 15px;
}
#OldPassword, #NewPassword, #ConfirmPassword {
    max-width: 116% !important;
    width: 105% !important;
}
#changeButtonsDiv, #managePassDiv {
    margin-top: 15px;
}
#managePassDiv{
    text-align:center;
}