﻿body {
        font-family: 'Gill Sans MT' !important;
        color:RGB(232,233,243) !important; 
        background-color:RGB(0,81,140) !important;
}

.navbar {
    background-color:RGB(42,45,52) !important;
    
}
#myFooter {

    margin-top:60px !important;
    color:RGB(232,233,243) !important;
}

.modal {
    padding-right: 700px !important;
    position: fixed !important;
}

.modal-body {
    background-color: RGB(0,81,140);
}

.modal-content {
    background-color: RGB(0,81,140);
}

.modal-footer {
    margin: 0;
    background-color: RGB(0,81,140);
}

.modal-header {
    background-color: RGB(0,81,140);
}

.modal-title {
    background-color: RGB(0,81,140);
}

#pNewButton {
    margin-top: 50px!important;
    margin-bottom: 30px!important;
}

#newButton {
    color: RGB(232,233,243); 
    border:none; 
    background-color:RGB(11,57,84); 
    font-weight:600; 
    font-size:medium;
}
#firstHeadline {
    text-align:center; 
    background-color:RGB(11,57,84); 
    color:RGB(232,233,243); 
    font-weight:700;
}

select {
        height:33px; 
        width:auto; 
        color:RGB(11,57,84);
}

.table th{
    text-align: center;
}

.table td {
    text-align: center;
    font-weight:700;
}

#blueThead {
        background-color:RGB(11,57,84); 
        color:RGB(232,233,243);
}
#blueTbody {
    color: RGB(0,81,140);
}

.table-hover tbody tr:hover td {
    background-color: RGB(0,81,140);
    color: RGB(232,233,243);
}

#searchAndSelectDiv {
    margin-bottom: 5px;
}

.dropzone, dragover {
    background-color: none;
    border: none;
}

#dropzone {
    background-color: none;
    border: none;
    width:100%;
    height:100%;
}

#archivedTitle {
    width: 100%;
    text-align: center;
    background-color: RGB(66,129,164);
    margin-top: 70px;
    color: RGB(11,57,84);
    font-weight: 700
}

#lightBlueThead {
        background-color:RGB(66,129,164); 
        color:RGB(11,57,84);
}

#lightBlueTbody {
    color: RGB(11,57,84);
}
