﻿@model Fakturiska.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@section Styles {
    <link href="@Url.Content("~/Content/ChangePasswordForm.css")" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()



    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div id="backFormChangePass" class="col-md-12">
        <h2>Change password</h2>
        <h5>All fields are required.</h5>


        <div id="changing" class="col-md-12">
            <div id="changeOldPassDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder="Current password", @data_toggle="tooltip", @title="Current password" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="changeNewPassDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New password", @data_toggle = "tooltip", @title = "New password" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="changeConfirmPassDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password", @data_toggle = "tooltip", @title = "Confirm password" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="changeButtonsDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-1" style="margin-left:-5%">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        


    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}