﻿@using Fakturiska.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section Styles {
    <link href="@Url.Content("~/Content/CreateLegalPersonForm.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                <div id="backFormLogIn" class="col-md-12">
                    <h2>Please use a local account to log in</h2>
                    
                    <div id="logging" class="col-md-12">
                        <div id="emailLogDiv" class="col-md-12">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6 input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="Email", @data_toggle="tooltip", @title= "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div id="passLogDiv" class="col-md-12">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6 input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @data_toggle = "tooltip", @title = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div id="buttonsLoginDiv" class="col-md-12"  style="margin-left:7%">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </div>
                
            }
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}