﻿@model Fakturiska.Business.Views.UsersBusinessView

@{
    ViewBag.Title = "MyConfirmPassword";

}
@section Styles {
    <link href="@Url.Content("~/Content/CreateUserForm.css")" rel="stylesheet" type="text/css" />
}

<style>
    .invalid {
        border: 1px solid red;
    }

    .modal {
        padding-right: 700px !important;
        position: fixed !important;
    }

    .modal-body {
        background-color: RGB(0,81,140);
    }

    .modal-content {
        background-color: RGB(0,81,140);
    }

    .modal-footer {
        margin: 0;
        background-color: RGB(0,81,140);
    }

    .modal-header {
        background-color: RGB(0,81,140);
    }

    .modal-title {
        background-color: RGB(0,81,140);
    }
</style>

@using (Html.BeginForm("MyConfirmPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.GUID)
    @Html.HiddenFor(model => model.UsersID)
    @Html.HiddenFor(model => model.RoleId)

    <div id="backFormConfirmPass" class="col-md-12">
        <h2>Please enter new password</h2>
        <h5>All fields are required.</h5>

        <div id="pass" class="col-md-12">
            <div id="newPassDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password", @data_toggle = "tooltip", @title = "New Password" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="confirmPass" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <input id="confirmInput" type="password" class="form-control" name="confirm" placeholder="Confirm Password" data-toggle="tooltip" title="Confirm Password" style="max-width:200%;width:116%" />
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="buttonsConfirmPassDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="col-md-4" style="margin-left:-5%;">
                    <input id="realRegister" type="submit" class="btn btn-primary" value="Register" />
                    <input type="button" onclick="Register()" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>
        

    </div>
}

<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Warning!</p>
            </div>
            <div class="modal-body">
                <p>All fields are required!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="wrongPassModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Warning!</p>
            </div>
            <div class="modal-body">
                <p>Confirmed password and New password are not equal!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {

        $('#realRegister').hide();

        Register = function () {
            var condition = 0;

            if ($('#Password').val() === "") {
                $('#Password').addClass('invalid');
                if (condition === 0) {
                    condition = 1;
                }
            }

            if ($('#confirmInput').val() === "") {
                $('#confirmInput').addClass('invalid');
                if (condition === 0) {
                    condition = 1;
                }
            }

            if ($('#Password').val() != $('#confirmInput').val())
            {
                $('#wrongPassModal').modal("show");
                condition = 2;
                
            }

            if (condition === 0) {
                $('#realRegister').click();
            }
            else if (condition===1){
                $('#errorModal').modal("show");
            }
        }

        $("#Password").on('change keyup copy paste cut', function () {
            $("#Password").removeClass('invalid');
        });
        $("#confirmInput").on('change keyup copy paste cut', function () {
            $("#confirmInput").removeClass('invalid');
        });


    });
</script>