﻿@model Fakturiska.Business.Views.UsersBusinessView

@{
    ViewBag.Title = "MyRegister";
}

@section Styles {
    <link href="@Url.Content("~/Content/CreateLegalPersonForm.css")" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm("MyRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div id="backFormRegister" class="col-md-12">

        <h2>Please enter your mail address</h2>

        <div id="mailRegister" class="col-md-12">
            <div id="mailRegisterDiv" class="col-md-12">
                <div class="col-md-3">

                </div>
                <div class="col-md-6 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @data_toggle = "tooltip", @title = "Email" })
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div id="buttonsRegisterDiv" class="col-md-12" style="margin-left:7%">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
