﻿@model Fakturiska.Business.Views.InvoiceBusinessView

@{
    ViewBag.Title = "CreateAll";
}
<style>
    .invalid{
        border: 1px solid red;
    } 
    
    .modal {
        padding-right: 700px !important;
        position: fixed !important;
    }

    .modal-body {
        background-color: RGB(0,81,140);
    }

    .modal-content {
        background-color: RGB(0,81,140);
    }

    .modal-footer {
        margin: 0;
        background-color: RGB(0,81,140);
    }

    .modal-header {
        background-color: RGB(0,81,140);
    }

    .modal-title {
        background-color: RGB(0,81,140);
    }
</style>
<div id="newDrop" style="height:100%">
    <div hidden style="position: absolute; bottom: -20px; right: 0;" class="alert alert-success alert-dismissable fade in">
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    <div hidden style="position: absolute; bottom: -20px; right: 0;"  class="alert alert-danger alert-dismissable fade in">
        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
    <div style="height:50px">
        <h1 style="text-align:center; color:RGB(11,57,84); font-weight:700;">Add New Invoice and Legal Persons</h1>
    </div>
    
    <hr />

    @using (Html.BeginForm("CreateAll", "Invoices", FormMethod.Post, new { enctype = "multipart/form-data", data_ajax = "false" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model=>model.DropFile)
        @Html.HiddenFor(model=>model.DropFileType)
        @Html.HiddenFor(model => model.DropFileName)

        <div style="color:RGB(66,129,164)" class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-8" style="margin-top:2px">
                <div class="col-md-12" style="background-color:white; height:50%;">
                    <p style="font-weight:700;font-size:15px; font-size:20px; color:RGB(11,57,84)">Reciever</p>
                    <table class="table">
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.Name)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.Name, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.PersonalNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.PersonalNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.PersonalNumber, "", new { @class = "text-danger" })
                            </td>
                            <td hidden>
                                @Html.EditorFor(model => model.LegalPerson.GUID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.GUID, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.PhoneNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.PhoneNumber, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.PIB)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.PIB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.PIB, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.FaxNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.FaxNumber, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.MIB)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.MIB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.MIB, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.Email)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.Email, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.Email, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.BankCode)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.BankCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.BankCode, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.Address)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.Address, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.AccountNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.AccountNumber, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700"></td>
                            <td></td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson.Website)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson.Website, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson.Website, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12" style="height:50%; margin-top:2px;background-color:white;">
                    <p style="font-weight:700;font-size:15px; font-size:20px; color:RGB(11,57,84)">Payer</p>
                    <table class="table">
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.Name)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.Name, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.PersonalNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.PersonalNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.PersonalNumber, "", new { @class = "text-danger" })
                            </td>
                            <td hidden>
                                @Html.EditorFor(model => model.LegalPerson1.GUID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.GUID, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.PhoneNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.PhoneNumber, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.PIB)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.PIB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.PIB, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.FaxNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.FaxNumber, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.MIB)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.MIB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.MIB, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.Email)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.Email, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.Email, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.BankCode)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.BankCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.BankCode, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.Address)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.Address, "", new { @class = "text-danger" })
                            </td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.AccountNumber)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.AccountNumber, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700"></td>
                            <td></td>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                @Html.LabelFor(model => model.LegalPerson1.Website)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LegalPerson1.Website, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LegalPerson1.Website, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12" style="background-color:antiquewhite; margin-top:15%; height:90%">
                    <table class="table">
                        <tr>
                            <td style="font-weight:700;font-size:15px; font-size:20px; color:RGB(11,57,84)">
                                Invoice
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                Invoice Estimate
                            </td>
                            <td>
                                <div class="col-md-4"></div>
                                <span class="button-checkbox col-md-4">
                                    <button type="button" class="btn" data-color="primary"></button>
                                    <input type="checkbox" class="hidden" name="estimate" />
                                </span>
                            </td>
                        </tr>
                        <tr hidden>
                            <td style="padding:15px 0px 0px 0px;">
                                @Html.LabelFor(model => model.PaymentDate)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                Invoice Total
                            </td>
                            <td>
                                <div class="col-md-4"></div>
                                <span class="button-checkbox col-md-4">
                                    <button type="button" class="btn" data-color="primary"></button>
                                    <input type="checkbox" class="hidden" name="total" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                Incoming
                            </td>
                            <td>
                                <div class="col-md-4"></div>
                                <span class="button-checkbox col-md-4">
                                    <button type="button" class="btn" data-color="primary"></button>
                                    <input type="checkbox" class="hidden" name="incoming" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                Paid
                            </td> 
                            <td>
                                <div class="col-md-4"></div>
                                <span class="button-checkbox col-md-4">
                                    <button type="button" class="btn" data-color="primary"></button>
                                    <input type="checkbox" class="hidden" name="paid" />
                                </span>		
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                Risk
                            </td>
                            <td>
                                <div class="col-md-4"></div>
                                <span class="button-checkbox col-md-4">
                                    <button type="button" class="btn" data-color="primary"></button>
                                    <input type="checkbox" class="hidden" name="risk" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px;">
                                @Html.LabelFor(model => model.Sum)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
                            </td>
                         </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                               Priority Level
                            </td>                            
                            <td>
                                @Html.DropDownListFor(model => model.PriorityId, (System.Collections.Generic.List<System.Web.Mvc.SelectListItem>)ViewBag.Priorities, "-- Select Priority --", new { @style = "color:RGB(0,81,140);", @class = "form-control" } )                                
                                @Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:15px 0px 0px 0px; font-weight:700">
                                Add an invoice
                            </td>
                            <td>
                                @Html.EditorFor(model => model.FilePath, new { htmlAttributes = new { @type = "file", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12" style="margin-bottom:100px; margin-top:11px; height:10%">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="RealSave" type="submit" value="Save" class="btn btn-primary" style="width:300px; height:50px; margin-top:30px; margin-left:-30px" />
                            <input type="button" id="saveAll" onclick="SaveAll()" value="Save" class="btn btn-primary" style="width:300px; height:50px; margin-top:30px; margin-left:-30px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div hidden id="autocompletePath"> @Url.Action("GetLegalPersonDetails", "LegalPersons") </div>
    }

    <div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body">
                    <p>Changing Name, PIB or MIB of existing Reciever or Payer is not allowed!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="noFileModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body">
                    <p>File is required!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@section Neko{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#RealSave').hide();
            var Reciever = null;
            var Payer = null;
            var RecieverGuid = null;
            var PayerGuid = null;
            var fileData = new FormData();

            SaveAll = function ()
            {
                var condition1 = 0;
                var condition2 = 0;
                if (RecieverGuid != null)
                {
                    if (Reciever.Name === $('#LegalPerson_Name').val()) {
                        condition1 = 0;
                    }
                    else {
                        condition1 = 1;
                        $('#LegalPerson_Name').addClass('invalid');
                        $('#errorModal').modal("show");
                    }

                    if (Reciever.PIB === $('#LegalPerson_PIB').val()) {
                        condition1 = 0;
                    }
                    else {
                        condition1 = 1;
                        $('#LegalPerson_PIB').addClass('invalid');
                        $('#errorModal').modal("show");
                    }

                    if (Reciever.MIB === $('#LegalPerson_MIB').val()) {
                        condition1 = 0;
                    }
                    else {
                        condition1 = 1;
                        $('#LegalPerson_MIB').addClass('invalid');
                        $('#errorModal').modal("show");
                    }  
                }
                else {
                    $('#LegalPerson_GUID').val("");
                }

                if (PayerGuid != null)
                {
                    if (Payer.Name === $('#LegalPerson1_Name').val()) {
                        condition2 = 0;
                    }
                    else {
                        condition2 = 1;
                        $('#LegalPerson1_Name').addClass('invalid');
                        $('#errorModal').modal("show");
                    }

                    if (Payer.PIB === $('#LegalPerson1_PIB').val()) {
                        condition2 = 0;
                    }
                    else {
                        condition2 = 1;
                        $('#LegalPerson1_PIB').addClass('invalid');
                        $('#errorModal').modal("show");
                    }

                    if (Payer.MIB === $('#LegalPerson1_MIB').val()) {
                        condition2 = 0;
                    }
                    else {
                        condition2 = 1;
                        $('#LegalPerson1_MIB').addClass('invalid');
                        $('#errorModal').modal("show");
                    }
                }
                else {
                    $('#LegalPerson1_GUID').val("");
                }
                console.log(condition1 + ", " + condition2);
                
                if ($('#hiddenFile').val() === "") {
                    if ($('#FilePath').val() === "") {
                        $('#FilePath').addClass('invalid');
                        $('#noFileModal').modal("show");
                    }
                    else
                    {
                        if (condition1 === 0 && condition2 === 0) {
                            $('#RealSave').click();
                        }
                    }
                }
                else {
                    if (condition1 === 0 && condition2 === 0) {
                        $('#RealSave').click();
                    }
                }
            }

            $('#FilePath').on('change', function () {
                
                var fpath = $('#FilePath').val();
                console.log(fpath);
                var namesplit = fpath.split('\\');
                name = namesplit[namesplit.length - 1];
                console.log(name);
                if ($('#FilePath').val().endsWith(".pdf") ||
                    $('#FilePath').val().endsWith(".jpg") ||
                    $('#FilePath').val().endsWith(".jpeg") ||
                    $('#FilePath').val().endsWith(".png")) {
                    $('#FilePath').removeClass('invalid');
                    $('.alert-danger').hide();
                    $('.alert-success').text("Successfully added file: " + name);
                    $('.alert-success').show();
                    $('#saveAll').prop('disabled', false);
                }
                else {
                    if ($('#FilePath').val() === "") {
                        $('#FilePath').addClass('invalid');
                        $('#noFileModal').modal("show");
                        $('.alert-success').hide();
                        $('.alert-danger').hide();
                    }
                    else {
                        $('#FilePath').addClass('invalid');
                        $('.alert-success').hide();
                        $('.alert-danger').text("File extension is not supported!");
                        $('.alert-danger').show();
                        $('#saveAll').prop('disabled', true);
                    }
                }

            });

            $('.button-checkbox').each(function () {
                
                var $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color'),
                    settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                    };
                
                $button.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });
                
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');
                    
                    $button.data('state', (isChecked) ? "on" : "off");

                    $button.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$button.data('state')].icon);
                    
                    if (isChecked) {
                        $button
                            .removeClass('btn-default')
                            .addClass('btn-' + color + ' active');
                    }
                    else {
                        $button
                            .removeClass('btn-' + color + ' active')
                            .addClass('btn-default');
                    }
                }
                
                function init() {

                    updateDisplay();

                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });

            var lpName1;
            var lpName2;
            var lpPib1;
            var lpPib2;
            var lpMib1;
            var lpMib2;

            var urlForDetails = document.getElementById('autocompletePath').innerText;
            
            $("#LegalPerson_Name").on('change keyup copy paste cut', function () {

            $('#LegalPerson_Name').removeClass('invalid');
            if (lpName1 != null) {
                lpPib1 = null;
                lpMib1 = null;
                if (!this.value || this.value.length > lpName1.length || this.value.length < lpName1.length) {
                    RecieverGuid = null;
                    lpName1 = null;
                    Reciever = null;
                    $('#LegalPerson_Name').removeClass('invalid');
                    $('#LegalPerson_PIB').removeClass('invalid');
                    $('#LegalPerson_MIB').removeClass('invalid');

                    $("#LegalPerson_PersonalNumber").val("");
                    $("#LegalPerson_PhoneNumber").val("");
                    $("#LegalPerson_PIB").val("");
                    $("#LegalPerson_FaxNumber").val("");
                    $("#LegalPerson_MIB").val("");
                    $("#LegalPerson_Email").val("");
                    $("#LegalPerson_BankCode").val("");
                    $("#LegalPerson_Address").val("");
                    $("#LegalPerson_AccountNumber").val("");
                    $("#LegalPerson_Website").val("");

                    $("#LegalPerson_PersonalNumber").prop('disabled', false);
                    $("#LegalPerson_PhoneNumber").prop('disabled', false);
                    $("#LegalPerson_FaxNumber").prop('disabled', false);
                    $("#LegalPerson_Email").prop('disabled', false);
                    $("#LegalPerson_BankCode").prop('disabled', false);
                    $("#LegalPerson_Address").prop('disabled', false);
                    $("#LegalPerson_AccountNumber").prop('disabled', false);
                    $("#LegalPerson_Website").prop('disabled', false);
                }
            }
        });

        $("#LegalPerson_Name").autocomplete({
            source: '@Url.Action("GetJSONLegalPerson", "LegalPersons")',
            select: function (event, ui) {
                $.ajax({
                    url: urlForDetails,
                    type: 'GET',
                    datatype : "application/json",
                    success: (response) => {
                        console.log(ui.item.value);
                        let LegalPerson = response.find((elem) => { return elem.Name === ui.item.value })
                        console.log(LegalPerson);
                        lpName1 = LegalPerson.Name;
                        RecieverGuid = LegalPerson.GUID;
                        Reciever = LegalPerson;
                        $("#LegalPerson_PersonalNumber").val(LegalPerson.PersonalNumber);
                        $("#LegalPerson_PhoneNumber").val(LegalPerson.PhoneNumber);
                        $("#LegalPerson_PIB").val(LegalPerson.PIB);
                        $("#LegalPerson_FaxNumber").val(LegalPerson.FaxNumber);
                        $("#LegalPerson_MIB").val(LegalPerson.MIB);
                        $("#LegalPerson_Email").val(LegalPerson.Email);
                        $("#LegalPerson_BankCode").val(LegalPerson.BankCode);
                        $("#LegalPerson_Address").val(LegalPerson.Address);
                        $("#LegalPerson_AccountNumber").val(LegalPerson.AccountNumber);
                        $("#LegalPerson_Website").val(LegalPerson.Website);

                        $("#LegalPerson_PersonalNumber").prop('disabled', true);
                        $("#LegalPerson_PhoneNumber").prop('disabled', true);
                        $("#LegalPerson_FaxNumber").prop('disabled', true);
                        $("#LegalPerson_Email").prop('disabled', true);
                        $("#LegalPerson_BankCode").prop('disabled', true);
                        $("#LegalPerson_Address").prop('disabled', true);
                        $("#LegalPerson_AccountNumber").prop('disabled', true);
                        $("#LegalPerson_Website").prop('disabled', true);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }
        });

        $("#LegalPerson1_Name").on('change keyup copy paste cut', function () {
            $('#LegalPerson1_Name').removeClass('invalid');
            if (lpName2 != null) {
                lpPib2 = null;
                lpMib2 = null;
                if (!this.value || this.value.length > lpName2.length || this.value.length < lpName2.length) {
                    lpName2 = null;
                    PayerGuid = null;
                    Payer = null;
                    $('#LegalPerson1_Name').removeClass('invalid');
                    $('#LegalPerson1_PIB').removeClass('invalid');
                    $('#LegalPerson1_MIB').removeClass('invalid');

                    $("#LegalPerson1_PersonalNumber").val("");
                    $("#LegalPerson1_PhoneNumber").val("");
                    $("#LegalPerson1_FaxNumber").val("");
                    $("#LegalPerson1_MIB").val("");
                    $("#LegalPerson1_PIB").val("");
                    $("#LegalPerson1_Email").val("");
                    $("#LegalPerson1_BankCode").val("");
                    $("#LegalPerson1_Address").val("");
                    $("#LegalPerson1_AccountNumber").val("");
                    $("#LegalPerson1_Website").val("");

                    $("#LegalPerson1_PersonalNumber").prop('disabled', false);
                    $("#LegalPerson1_PhoneNumber").prop('disabled', false);
                    $("#LegalPerson1_FaxNumber").prop('disabled', false);
                    $("#LegalPerson1_Email").prop('disabled', false);
                    $("#LegalPerson1_BankCode").prop('disabled', false);
                    $("#LegalPerson1_Address").prop('disabled', false);
                    $("#LegalPerson1_AccountNumber").prop('disabled', false);
                    $("#LegalPerson1_Website").prop('disabled', false);
                }
            }
        });

        $("#LegalPerson1_Name").autocomplete({
            source: '@Url.Action("GetJSONLegalPerson", "LegalPersons")',
            select: function (event, ui) {
                $.ajax({
                    url: urlForDetails,
                    type: 'GET',
                    datatype : "application/json",
                    success: (response) => {
                        console.log(ui.item.value);
                        let LegalPerson1 = response.find((elem) => { return elem.Name === ui.item.value })
                        console.log(LegalPerson1);
                        lpName2 = LegalPerson1.Name;
                        PayerGuid = LegalPerson1.GUID;
                        Payer = LegalPerson1;
                        $("#LegalPerson1_PersonalNumber").val(LegalPerson1.PersonalNumber);
                        $("#LegalPerson1_PhoneNumber").val(LegalPerson1.PhoneNumber);
                        $("#LegalPerson1_Name").val(LegalPerson1.Name);
                        $("#LegalPerson1_FaxNumber").val(LegalPerson1.FaxNumber);
                        $("#LegalPerson1_MIB").val(LegalPerson1.MIB);
                        $("#LegalPerson1_PIB").val(LegalPerson1.PIB);
                        $("#LegalPerson1_Email").val(LegalPerson1.Email);
                        $("#LegalPerson1_BankCode").val(LegalPerson1.BankCode);
                        $("#LegalPerson1_Address").val(LegalPerson1.Address);
                        $("#LegalPerson1_AccountNumber").val(LegalPerson1.AccountNumber);
                        $("#LegalPerson1_Website").val(LegalPerson1.Website);

                        $("#LegalPerson1_PersonalNumber").prop('disabled', true);
                        $("#LegalPerson1_PhoneNumber").prop('disabled', true);
                        $("#LegalPerson1_FaxNumber").prop('disabled', true);
                        $("#LegalPerson1_Email").prop('disabled', true);
                        $("#LegalPerson1_BankCode").prop('disabled', true);
                        $("#LegalPerson1_Address").prop('disabled', true);
                        $("#LegalPerson1_AccountNumber").prop('disabled', true);
                        $("#LegalPerson1_Website").prop('disabled', true);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }
        });

        $("#LegalPerson_PIB").on('change keyup copy paste cut', function () {
            $('#LegalPerson_PIB').removeClass('invalid');
            if (lpPib1 != null) {
                lpName1 = null;
                lpMib1 = null;
                if (!this.value || this.value.length > lpPib1.length || this.value.length < lpPib1.length) {
                    lpPib1 = null;
                    RecieverGuid = null;
                    Reciever = null;
                    $('#LegalPerson_Name').removeClass('invalid');
                    $('#LegalPerson_PIB').removeClass('invalid');
                    $('#LegalPerson_MIB').removeClass('invalid');


                    $("#LegalPerson_PersonalNumber").val("");
                    $("#LegalPerson_PhoneNumber").val("");
                    $("#LegalPerson_Name").val("");
                    $("#LegalPerson_FaxNumber").val("");
                    $("#LegalPerson_MIB").val("");
                    $("#LegalPerson_Email").val("");
                    $("#LegalPerson_BankCode").val("");
                    $("#LegalPerson_Address").val("");
                    $("#LegalPerson_AccountNumber").val("");
                    $("#LegalPerson_Website").val("");

                    $("#LegalPerson_PersonalNumber").prop('disabled', false);
                    $("#LegalPerson_PhoneNumber").prop('disabled', false);
                    $("#LegalPerson_FaxNumber").prop('disabled', false);
                    $("#LegalPerson_Email").prop('disabled', false);
                    $("#LegalPerson_BankCode").prop('disabled', false);
                    $("#LegalPerson_Address").prop('disabled', false);
                    $("#LegalPerson_AccountNumber").prop('disabled', false);
                    $("#LegalPerson_Website").prop('disabled', false);
                }
            }
        });

        $("#LegalPerson_PIB").autocomplete({
            source: '@Url.Action("GetJSONLegalPersonPIB", "LegalPersons")',
            select: function (event, ui) {
                $.ajax({
                    url: urlForDetails,
                    type: 'GET',
                    datatype : "application/json",
                    success: (response) => {
                        console.log(ui.item.value);
                        let LegalPerson = response.find((elem) => { return elem.PIB === ui.item.value })
                        console.log(LegalPerson);
                        lpPib1 = LegalPerson.PIB;
                        RecieverGuid = LegalPerson.GUID;
                        Reciever = LegalPerson;
                        $("#LegalPerson_PersonalNumber").val(LegalPerson.PersonalNumber);
                        $("#LegalPerson_PhoneNumber").val(LegalPerson.PhoneNumber);
                        $("#LegalPerson_Name").val(LegalPerson.Name);
                        $("#LegalPerson_FaxNumber").val(LegalPerson.FaxNumber);
                        $("#LegalPerson_MIB").val(LegalPerson.MIB);
                        $("#LegalPerson_Email").val(LegalPerson.Email);
                        $("#LegalPerson_BankCode").val(LegalPerson.BankCode);
                        $("#LegalPerson_Address").val(LegalPerson.Address);
                        $("#LegalPerson_AccountNumber").val(LegalPerson.AccountNumber);
                        $("#LegalPerson_Website").val(LegalPerson.Website);

                        $("#LegalPerson_PersonalNumber").prop('disabled', true);
                        $("#LegalPerson_PhoneNumber").prop('disabled', true);
                        $("#LegalPerson_FaxNumber").prop('disabled', true);
                        $("#LegalPerson_Email").prop('disabled', true);
                        $("#LegalPerson_BankCode").prop('disabled', true);
                        $("#LegalPerson_Address").prop('disabled', true);
                        $("#LegalPerson_AccountNumber").prop('disabled', true);
                        $("#LegalPerson_Website").prop('disabled', true);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }
        });

        $("#LegalPerson1_PIB").on('change keyup copy paste cut', function () {
            $('#LegalPerson1_PIB').removeClass('invalid');
            if (lpPib2 != null) {
                lpName2 = null;
                lpMib2 = null;
                if (!this.value || this.value.length > lpPib2.length || this.value.length < lpPib2.length) {
                    lpPib2 = null;
                    PayerGuid = null;
                    Payer = null;
                    $('#LegalPerson1_Name').removeClass('invalid');
                    $('#LegalPerson1_PIB').removeClass('invalid');
                    $('#LegalPerson1_MIB').removeClass('invalid');


                    $("#LegalPerson1_PersonalNumber").val("");
                    $("#LegalPerson1_PhoneNumber").val("");
                    $("#LegalPerson1_Name").val("");
                    $("#LegalPerson1_FaxNumber").val("");
                    $("#LegalPerson1_MIB").val("");
                    $("#LegalPerson1_Email").val("");
                    $("#LegalPerson1_BankCode").val("");
                    $("#LegalPerson1_Address").val("");
                    $("#LegalPerson1_AccountNumber").val("");
                    $("#LegalPerson1_Website").val("");

                    $("#LegalPerson1_PersonalNumber").prop('disabled', false);
                    $("#LegalPerson1_PhoneNumber").prop('disabled', false);
                    $("#LegalPerson1_FaxNumber").prop('disabled', false);
                    $("#LegalPerson1_Email").prop('disabled', false);
                    $("#LegalPerson1_BankCode").prop('disabled', false);
                    $("#LegalPerson1_Address").prop('disabled', false);
                    $("#LegalPerson1_AccountNumber").prop('disabled', false);
                    $("#LegalPerson1_Website").prop('disabled', false);
                }
            }
        });

        $("#LegalPerson1_PIB").autocomplete({
            source: '@Url.Action("GetJSONLegalPersonPIB", "LegalPersons")',
            select: function (event, ui) {
                $.ajax({
                    url: urlForDetails,
                    type: 'GET',
                    datatype : "application/json",
                    success: (response) => {
                        console.log(ui.item.value);
                        let LegalPerson1 = response.find((elem) => { return elem.PIB === ui.item.value })
                        console.log(LegalPerson1);
                        lpPib2 = LegalPerson1.PIB;
                        PayerGuid = LegalPerson1.GUID;
                        Payer = LegalPerson1;
                        $("#LegalPerson1_PersonalNumber").val(LegalPerson1.PersonalNumber);
                        $("#LegalPerson1_PhoneNumber").val(LegalPerson1.PhoneNumber);
                        $("#LegalPerson1_Name").val(LegalPerson1.Name);
                        $("#LegalPerson1_FaxNumber").val(LegalPerson1.FaxNumber);
                        $("#LegalPerson1_MIB").val(LegalPerson1.MIB);
                        $("#LegalPerson1_Email").val(LegalPerson1.Email);
                        $("#LegalPerson1_BankCode").val(LegalPerson1.BankCode);
                        $("#LegalPerson1_Address").val(LegalPerson1.Address);
                        $("#LegalPerson1_AccountNumber").val(LegalPerson1.AccountNumber);
                        $("#LegalPerson1_Website").val(LegalPerson1.Website);

                        $("#LegalPerson1_PersonalNumber").prop('disabled', true);
                        $("#LegalPerson1_PhoneNumber").prop('disabled', true);
                        $("#LegalPerson1_FaxNumber").prop('disabled', true);
                        $("#LegalPerson1_Email").prop('disabled', true);
                        $("#LegalPerson1_BankCode").prop('disabled', true);
                        $("#LegalPerson1_Address").prop('disabled', true);
                        $("#LegalPerson1_AccountNumber").prop('disabled', true);
                        $("#LegalPerson1_Website").prop('disabled', true);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }
        });


        $("#LegalPerson_MIB").on('change keyup copy paste cut', function () {
            $('#LegalPerson_MIB').removeClass('invalid');
            if (lpMib1 != null) {
                lpPib1 = null;
                lpName1 = null;
                if (!this.value || this.value.length > lpMib1.length || this.value.length < lpMib1.length) {
                    lpMib1 = null;
                    RecieverGuid = null;
                    Reciever = null;
                    $('#LegalPerson_Name').removeClass('invalid');
                    $('#LegalPerson_PIB').removeClass('invalid');
                    $('#LegalPerson_MIB').removeClass('invalid');
                    
                    $("#LegalPerson_PIB").val("");
                    $("#LegalPerson_PhoneNumber").val("");
                    $("#LegalPerson_Name").val("");
                    $("#LegalPerson_FaxNumber").val("");
                    $("#LegalPerson_PersonalNumber").val("");
                    $("#LegalPerson_Email").val("");
                    $("#LegalPerson_BankCode").val("");
                    $("#LegalPerson_Address").val("");
                    $("#LegalPerson_AccountNumber").val("");
                    $("#LegalPerson_Website").val("");

                    $("#LegalPerson_PersonalNumber").prop('disabled', false);
                    $("#LegalPerson_PhoneNumber").prop('disabled', false);
                    $("#LegalPerson_FaxNumber").prop('disabled', false);
                    $("#LegalPerson_Email").prop('disabled', false);
                    $("#LegalPerson_BankCode").prop('disabled', false);
                    $("#LegalPerson_Address").prop('disabled', false);
                    $("#LegalPerson_AccountNumber").prop('disabled', false);
                    $("#LegalPerson_Website").prop('disabled', false);
                }
            }
        });


        $("#LegalPerson_MIB").autocomplete({
            source: '@Url.Action("GetJSONLegalPersonMIB", "LegalPersons")',
            select: function (event, ui) {
                $.ajax({
                    url: urlForDetails,
                    type: 'GET',
                    datatype : "application/json",
                    success: (response) => {
                        console.log(ui.item.value);
                        let LegalPerson = response.find((elem) => { return elem.MIB === ui.item.value })
                        console.log(LegalPerson);
                        lpMib1 = LegalPerson.MIB;
                        RecieverGuid = LegalPerson.GUID;
                        Reciever = LegalPerson;
                        $("#LegalPerson_PIB").val(LegalPerson.PIB);
                        $("#LegalPerson_PhoneNumber").val(LegalPerson.PhoneNumber);
                        $("#LegalPerson_Name").val(LegalPerson.Name);
                        $("#LegalPerson_FaxNumber").val(LegalPerson.FaxNumber);
                        $("#LegalPerson_PersonalNumber").val(LegalPerson.MIB);
                        $("#LegalPerson_Email").val(LegalPerson.Email);
                        $("#LegalPerson_BankCode").val(LegalPerson.BankCode);
                        $("#LegalPerson_Address").val(LegalPerson.Address);
                        $("#LegalPerson_AccountNumber").val(LegalPerson.AccountNumber);
                        $("#LegalPerson_Website").val(LegalPerson.Website);

                        $("#LegalPerson_PersonalNumber").prop('disabled', true);
                        $("#LegalPerson_PhoneNumber").prop('disabled', true);
                        $("#LegalPerson_FaxNumber").prop('disabled', true);
                        $("#LegalPerson_Email").prop('disabled', true);
                        $("#LegalPerson_BankCode").prop('disabled', true);
                        $("#LegalPerson_Address").prop('disabled', true);
                        $("#LegalPerson_AccountNumber").prop('disabled', true);
                        $("#LegalPerson_Website").prop('disabled', true);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }
        });

        $("#LegalPerson1_MIB").on('change keyup copy paste cut', function () {
            $('#LegalPerson1_MIB').removeClass('invalid');
            if (lpMib2 != null) {
                lpPib2 = null;
                lpName2 = null;
                if (!this.value || this.value.length > lpMib2.length || this.value.length < lpMib2.length) {
                    lpMib2 = null;
                    PayerGuid = null;
                    Payer = null;
                    $('#LegalPerson1_Name').removeClass('invalid');
                    $('#LegalPerson1_PIB').removeClass('invalid');
                    $('#LegalPerson1_MIB').removeClass('invalid');

                    $("#LegalPerson1_PIB").val("");
                    $("#LegalPerson1_PhoneNumber").val("");
                    $("#LegalPerson1_Name").val("");
                    $("#LegalPerson1_FaxNumber").val("");
                    $("#LegalPerson1_PersonalNumber").val("");
                    $("#LegalPerson1_Email").val("");
                    $("#LegalPerson1_BankCode").val("");
                    $("#LegalPerson1_Address").val("");
                    $("#LegalPerson1_AccountNumber").val("");
                    $("#LegalPerson1_Website").val("");

                    $("#LegalPerson1_PersonalNumber").prop('disabled', false);
                    $("#LegalPerson1_PhoneNumber").prop('disabled', false);
                    $("#LegalPerson1_FaxNumber").prop('disabled', false);
                    $("#LegalPerson1_Email").prop('disabled', false);
                    $("#LegalPerson1_BankCode").prop('disabled', false);
                    $("#LegalPerson1_Address").prop('disabled', false);
                    $("#LegalPerson1_AccountNumber").prop('disabled', false);
                    $("#LegalPerson1_Website").prop('disabled', false);
                }
            }
        });

        $("#LegalPerson1_MIB").autocomplete({
            source: '@Url.Action("GetJSONLegalPersonMIB", "LegalPersons")',
            select: function (event, ui) {
                $.ajax({
                    url: urlForDetails,
                    type: 'GET',
                    datatype : "application/json",
                    success: (response) => {
                        console.log(ui.item.value);
                        let LegalPerson = response.find((elem) => { return elem.MIB === ui.item.value })
                        console.log(LegalPerson);
                        lpMib2 = LegalPerson.MIB;
                        PayerGuid = LegalPerson.GUID;
                        Payer = LegalPerson;
                        $("#LegalPerson1_PIB").val(LegalPerson.PIB);
                        $("#LegalPerson1_PhoneNumber").val(LegalPerson.PhoneNumber);
                        $("#LegalPerson1_Name").val(LegalPerson.Name);
                        $("#LegalPerson1_FaxNumber").val(LegalPerson.FaxNumber);
                        $("#LegalPerson1_PersonalNumber").val(LegalPerson.MIB);
                        $("#LegalPerson1_Email").val(LegalPerson.Email);
                        $("#LegalPerson1_BankCode").val(LegalPerson.BankCode);
                        $("#LegalPerson1_Address").val(LegalPerson.Address);
                        $("#LegalPerson1_AccountNumber").val(LegalPerson.AccountNumber);
                        $("#LegalPerson1_Website").val(LegalPerson.Website);

                        $("#LegalPerson1_PersonalNumber").prop('disabled', true);
                        $("#LegalPerson1_PhoneNumber").prop('disabled', true);
                        $("#LegalPerson1_FaxNumber").prop('disabled', true);
                        $("#LegalPerson1_Email").prop('disabled', true);
                        $("#LegalPerson1_BankCode").prop('disabled', true);
                        $("#LegalPerson1_Address").prop('disabled', true);
                        $("#LegalPerson1_AccountNumber").prop('disabled', true);
                        $("#LegalPerson1_Website").prop('disabled', true);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }
        });

        window.addEventListener("drop", function (e) {
            e.preventDefault();
        }, false);

        (function () {
            var drop = document.getElementById('newDrop');

            drop.addEventListener("dragover", function (event) {
                var body = $('html');
                body.css("background-color", "black");
                body.css("opacity", "0.5");
                event.preventDefault();
            }, false);

            drop.addEventListener("dragleave", function (event) {
                var body = $('html');
                body.css("opacity", "1");
                event.preventDefault();
            }, false);

            drop.addEventListener("drop", function (event) {
                var files = event.dataTransfer.files;
                var fileReader = new FileReader();
                var file = files[0];
                var cont = 0;
                $('.alert-success').hide();
                $('.alert-danger').hide();

                if (file.name.endsWith(".pdf")) {
                    $('.alert-success').text("Successfully added file: " + file.name);
                    $('.alert-success').show();
                    $('#FilePath').removeClass('invalid');
                    cont = 1;
                }
                else if (file.name.endsWith(".jpg")) {
                    $('.alert-success').text("Successfully added file: " + file.name);
                    $('.alert-success').show();
                    $('#FilePath').removeClass('invalid');
                    cont = 1;
                }
                else if (file.name.endsWith(".jpeg")) {
                    $('.alert-success').text("Successfully added file: " + file.name);
                    $('.alert-success').show();
                    $('#FilePath').removeClass('invalid');
                    cont = 1;
                }
                else if (file.name.endsWith(".png")) {
                    $('.alert-success').text("Successfully added file: " + file.name);
                    $('.alert-success').show();
                    $('#FilePath').removeClass('invalid');
                    cont = 1;
                }
                else {
                    $('.alert-danger').text("File extension is not supported!");
                    $('.alert-danger').show();
                    $('#FilePath').addClass('invalid');
                    cont = 0;
                }
                var body = $('html');
                body.css("opacity", "1");
                event.preventDefault();
                if (cont == 1) {
                    
                    var body = $('html');
                    body.css("opacity", "1");
                    event.preventDefault();

                    fileReader.readAsArrayBuffer(file);
                    
                    fileReader.onload = (event) =>
                    {
                        var binary = '';
                        var bytes = new Uint8Array(event.target.result);
                        var len = bytes.byteLength;
                        for (var i = 0; i < len; i++)
                        {
                            binary += String.fromCharCode(bytes[i]);
                        }
                        var x = btoa(binary);
                        $('#DropFile').val(x);
                        $('#DropFileType').val(file.type);
                        $('#DropFileName').val(file.name);
                        
                    }

                    fileReader.onerror = (event) => {
                        console.log("Error on drop");
                    }

                }
            }, false);

        })();

        });

    </script>
}

