﻿@model IEnumerable<Fakturiska.Business.Views.LegalPersonsBusinessView>

@{
    ViewBag.Title = "LegalPersons";
}


<div style="margin-top:35px">

</div>
<p id="pNewButton">
    <button id="newButton" class="btn btn-default" onclick="location.href='@Url.Action("CreateNewLegalPerson", "LegalPersons")'">
        New Legal Person<span class="glyphicon glyphicon-new-window"> </span>
    </button>
</p>
<p style="font-size:30px;" id="firstHeadline">Legal Persons</p>

<div id="searchAndSelectDiv" class="col-md-12"style="padding-left:0">
    <div class="col-md-3"style="padding-left:0">
        <input id="searchNew" type="text" class="  search-query form-control" placeholder="Search" />
    </div>
    <div class="col-md-2">
        <select class="form-control" id="selectNew">
            <option value="0">Name</option>
            <option value="1">Phone Number</option>
            <option value="2">Fax Number</option>
            <option value="3">Address</option>
            <option value="4">Website</option>
            <option value="5">E-mail</option>
            <option value="6">Personal Number</option>
            <option value="7">PIB</option>
            <option value="8">MIB</option>
            <option value="9">Account Number</option>
            <option value="11">Bank Code</option>
        </select>
    </div>
</div>

<table id="persons" cellspacing="0" style="width:100%" class="table table-hover table-striped collapsed">
    <thead id="blueThead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankCode)
            </th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody id="blueTbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaxNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MIB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankCode)
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("EditLegalPerson", "LegalPersons", new { guid = item.GUID })'" class="btn btn-default btn-lg"><span style="font-size:20px; color:RGB(0,81,140)" class="glyphicon glyphicon-edit"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

<script>
    $(document).ready(function () {

        var table;
        $(document).ready(function () {
            table = $('#persons').DataTable({
                ordering: false,
                bFilter: true,
                ordering: false,
                bFilter: true,
                dom: '<"top">t<"bottom"p><"clear">',
              
            });


            $('#searchNew').on('keyup change', function () {

                if (table.search() !== this.value || this.value == "") {
                    table
                        .columns($('#selectNew').val())
                        .search(this.value)
                        .draw();
                }
            });

            $('#selectNew').change(function () {
                $('#searchNew').val("");
                table
                    .columns()
                    .search("")
                    .draw();
            });
        });
    });
</script>