﻿@{
    ViewBag.Title = "Home Page";
}

<div id="sss" style="height:500px;" class="container">
    <div style="height:500px; background-color:RGB(11,57,84); color:RGB(232,233,243)" class="jumbotron">
        <br />
        <br />
        <p style="text-align:center!important; font-size:70px">Fakturiska</p>
        <hr />
        <hr />
        <p style="text-align:center">
            You can see all Invoices, Users and Legal Persons related to your account.
            <br />
            If you are not registred, please do it now.
        </p>
    </div>
</div>
